/* 
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
display: block;
}
body {
line-height: 1;
}
ol,
ul {
list-style: none;
}
blockquote,
q {
quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/* -------------------------------------- css reset ------------------------------------ */

* {
font-family: 'Cormorant SC', serif;
font-family: 'Roboto Slab', serif;
}

body {
overflow: hidden;
width: 100vw;
height: 100vh;
}

#fl {
height: 100%;
width: 100%;
display: flex;
flex-direction: row-reverse;
}

.fl2 {
display: flex;
flex-direction: column;
}

#d1 {
width: 60%;
background-image: url(assets/bg-pattern-desktop.svg);
background-size: cover;
background-repeat: no-repeat;
}

#d2 {
width: 40%;
}

#im1 {
width: 100%;
height: 100%;
}

#im2 {
display: none;
}

#span1 {
color: rgb(234, 202, 203);
font-size: 90px;
margin-left: 20%;
}

.span2 {
font-size: 90px;
margin-left: 20%;
}

#logo {
margin-left: 20%;
height: 15%;
width: 15%;
margin-top: 50px;
margin-bottom: 10%;
}

#p1 {
font-size: x-large;
margin-left: 20%;
margin-right: 250px;
color: rgb(234, 202, 203);
margin-top: 60px;
margin-bottom: 10%;
}

#in {
margin-left: 20%;
width: 50%;
height: 65px;
border: 1px solid rgb(234, 202, 203);
border-radius: 37px;
color: rgb(234, 202, 203);
padding-left: 37px;
}

button {
border-radius: 37px;
border: 1px solid #F29698;
background-color: #F29698;
width: 150px;
height: 70px;
right: 52vw;
position: absolute;
font-size: 30px;
color: white;
filter: drop-shadow(10px 10px 10px #F29698);
transition: all 200ms ease-in-out;
}

button:hover {
transform: translateX(37px);
}

.fl3 {
display: flex;
flex-direction: row;
}

input::placeholder {
color: rgb(234, 202, 203);
font-size: large;
}

@media screen and (max-width:768px) {

#fl {
flex-direction: column;
}

body {
overflow: auto;
}

#im1 {
display: none;
}

#im2 {
display: block;
width: 100%;
height: 100%;
}

#d1 {
width: 100%;
}

#d2 {
width: 100%;
height: 35%;
}

#logo {
width: 30%;
height: 30%;
margin-left: 8%;
margin-bottom: 75px;
}

#p1 {
margin-left: 8%;
margin-bottom: 50px;
}

#in {
margin-left: 8%;
margin-bottom: 50px;
}

#span1 {
margin-left: 8%;
font-size: 46px;
}

.span2 {
margin-left: 8%;
font-size: 46px;
}

button {
right: 18vw;
}

#p1{
    margin-top: 28px;
    margin-right: 12px;
}

}

@media screen and (max-width:568px) {
    
    button {
    right: 8vw;
    }
    
}

@media screen and (max-width: 1280px) and (min-width: 1000px) {

#logo {
margin-left: 10%;
margin-bottom: 75px;
}

#p1 {
margin-left: 10%;
}

#in {
margin-left: 10%;
}

#span1 {
margin-left: 10%;
}

.span2 {
margin-left: 10%;
}

button {
right: 55vw;
}

}

@media screen and (max-width: 1000px) and (min-width: 769px) {

    #logo {
    width: 40%;
    height: 40%;
    margin-left: 4%;
    margin-bottom: 75px;
    }
    
    #p1 {
    margin-left: 4%;
    }
    
    #in {
    margin-left: 4%;
    }
    
    #span1 {
    margin-left: 4%;
    font-size: 85px;
    }
    
    .span2 {
    margin-left: 4%;
    font-size: 85px;
    }
    
    button {
    right: 55vw;
    }
    
}